<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form action="/search" autocomplete="off" method="post">
            <input list="departments" name="depselect" placeholder="{{ DId }}">
            <input list="Faculty" name="facselect" placeholder="{{FId}}" >
            <input list="Semester" name="semsearch" placeholder="{{ semester }}">
            <input type="submit">
            <datalist id="departments">
                {% for i in departments %}
                    <option value="{{ i[0] }}">
                {% endfor %}
            </datalist>
            <datalist id="Faculty">
                {% for i in fac %}
                    <option value="{{ i[0] }}">{{ i[1]}}</option>
                {% endfor %}
            </datalist>
            <datalist id="Semester">
                {% for i in sem %}
                    <option value="{{ i[0] }}">
                {% endfor %}
            </datalist>
        </form>
        {% if result!=NULL %}
            <table class="table table-hover">
            <thead>
                <tr>
                <th>Course-ID</th>
                <th>CourseName</th>
                <th>Faculty ID</th>
                <th>Faculty Name</th>
                <th>Semester</th>
                <th>No.of Students</th>
                </tr>
            </thead>
            <tbody>
                {% for i in result %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
            
    </body>
</html>